.grocery-list-page {
  background-color: #ffe0bd45;
  border-radius: 80px;
  min-height: calc(100vh - 75px);
  padding-bottom: 40px;
  margin-left: 10px;
  margin-right: 10px;
}

.grocery-item.checked .grocery-item-text {
  text-decoration: line-through;
  color: #999;
}
