main {
  background-color: #ffe0bd45;
  border-radius: 80px;
  min-height: calc(100vh - 75px);
  padding-bottom: 40px;
  margin-left: 10px;
  margin-right: 10px;
}

.landing-page-title {
  font-size: 5rem;
  font-weight: 700;
  font-family: "Hubot Sans", sans-serif;
}

main p {
  font-size: 1.5rem;
}

.home-main {
  background-color: #e4e3e345;
  border-radius: 80px;
  min-height: 100vh;
  margin-left: 10px;
  margin-right: 10px;
}
