.handjet {
  font-family: "Handjet", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "ELGR" 2,
    "ELSH" 2;
}

main {
  background-color: whitesmoke;
}

.landing-page-title {
  font-size: 5rem;
  font-weight: 700;
  font-family: "Handjet", sans-serif;
}

main p {
  font-size: 1.5rem;
  font-family: "Silkscreen", sans-serif;
  font-family: "Handjet", sans-serif;
}
