.sign-in-title {
  padding: 25px;
  margin-bottom: 20px;
  font-family: "Handjet", sans-serif;
  font-size: 60px;
}

.sign-in-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

form button {
  border: #82200c solid 3px;
  border-radius: 8px;
  padding: 7px;
  background: #B94700;
  color: white;
  width: 80px;
  font-size: 18px;
}

form button:hover {
  background-color: #82200c;
  color:blanchedalmond;
  cursor: pointer;
}

label {
  font-family: "Handjet", sans-serif;
  font-size: 30px;
}
