.sign-in-page {
  background-color: #e4e3e345;
  border-radius: 80px;
  min-height: calc(100vh - 75px);
  padding-bottom: 40px;
  margin-left: 10px;
  margin-right: 10px;
}

.sign-in-title {
  padding: 25px;
  margin-bottom: 20px;
  font-size: 45px;
}

.sign-in-buttons-container {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.sign-in-btns {
  color: #82200c;
  text-decoration: none;
  padding: 10px;
  font-weight: 400;
  width: 100px;
  text-align: center;
  background: none;
  border: none;
  font-size: 20px;
}

.sign-in-btns:hover {
  color: #f9ae2c;
  cursor: pointer;
}

.sign-label {
  font-size: 20px;
}

.sign-form-group {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}
