.recipe-list-page {
  background-color: #ffe0bd45;
  border-radius: 80px;
  min-height: calc(100vh - 75px);
  padding-bottom: 40px;
  margin-left: 10px;
  margin-right: 10px;
}

.recipe-list-title {
  display: flex;
  justify-content: center;
  padding: 25px;
  margin-bottom: 45px;
  margin-top: 50px;
  margin-bottom: 20px;
  font-family: "Handjet", sans-serif;
  font-size: 60px;
  padding-top: 60px;
}

.search-input {
  width: 300px;
}

.show-favorite-btn {
  width: auto;
}

.recipe-list {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  text-align: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  margin-top: 50px;
}

.recipe-link {
  text-decoration: none;
  color: inherit;
}

.recipe-card {
  border: black solid 2px;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffb54b;
  min-width: 220px;
  transition: background-color 0.3s ease;
}

.recipe-card:hover {
  background-color: #ff904b;
  cursor: pointer;
}

.recipe-card p {
  margin-top: 10px;
}

.add-ingredients-btn {
  width: 170px;
  font-size: 15px;
  margin-top: 8px;
  background: none;
  border: none;
  color: #82200c;
}

.add-ingredients-btn:hover {
  color: #f9ae2c;
  cursor: pointer;
}

.fav-checkbox {
  color: black;
}

.recipe-list-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  gap: 20px;
}

.sort-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.list-filters {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

@media (max-width: 430px) {
  .recipe-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    justify-items: center;
    padding: 0;
  }

  .recipe-card {
    padding: 20px;
  }

  .sort-controls {
    flex-direction: column;
    margin-bottom: 15px;
  }
}
