

* {
  margin: 0;
  padding: 0;
  color: black;
  font-family: "Handjet", sans-serif;
}

:root {
  --footer-height: 60px;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
