.hubot-sans {
  font-family: "Hubot Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

* {
  margin: 0;
  padding: 0;
  color: black;
}

html,
body {
  overflow-x: hidden;
  max-width: 100vw;
  font-family: "Hubot Sans", sans-serif;
}

:root {
  --footer-height: 60px;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

body {
  margin-top: 56px;
}
